* {box-sizing: border-box;}
.box1 {
    color: black;
    font-size: 25px;
    font-family: 'Arial Narrow';
    text-align: center;
    padding: 15px;
}
.box2 {
    color: black;
    font-size: 15px;
    font-family: 'Arial Narrow';
    text-align: center;
    padding: 15px;
}


/*colours for each box*/
.box1 {background-color: #000000;}
.box2 {background-color:#ffcc00 ;}